/* every thing */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 25px;
    background-color: white;
    color: black;
}

/* dark mode toggle switch*/
body.dark{
    background-color: black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
} 
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
} 
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  /* Rounded slider */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/* dark mode toggle switch end */

/* home */
header {
    color: black;
    padding: 10px;
    background-color: #F89880;
}

header .landing{
    text-align: left;
    color:#333;
}

header h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
}

/* tabs on home */
nav ul {
    text-align: center;
    list-style-type: none;
    padding: 0;

}
nav ul li {
    display: inline;
    margin-right: 20px;
    
}
nav ul li a {
    color:black;
    text-decoration: none;
    font-size:x-large;
    overflow: hidden;
    background-color: aliceblue;
    border: 2px solid #6F8FAF;
    padding: 4px;
    border-radius: 10px;
}
nav ul li a:hover{
    background-color: rgb(186, 183, 183);
}
/* end tabs home */


main {
    background-color: aliceblue;
    min-height: 400px;
    padding: 10px;
    
}

footer {
    background-color: #6F8FAF;
    color: #333;
    text-align: center;
    padding: 10px;
}

/*code for home image*/
.landing img {
    width: 200px;
    border: 2px solid #40E0D0;
    float: left; 
    margin-right: 20px;
}

.bio-header{
    font-size:300%;
}
/* bio */
.bio {
    font-size: 125%;
    overflow: hidden;
}
/* home end */


.contact {
    text-align: center;
    font-size: larger;
}

/* project and hobbies page */
.projhobs{
    
    text-align: center;
    
}

ul li{
    font-size: 120%;
}
ul li a{
    color:#2196F3;
    font-size: 120%;
}


.resume {
    text-align: center;
    font-size: 150%;
}









/* Media Queries */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin: 10px;
    }

    
}
